body {
    background: rgb(14, 13, 15);
    color: rgb(229 231 235);
    font-family: Montserrat, sans-serif;
}

@font-face {
    font-family: 'assassin';
    src: url("../assets/fonts/assassin.ttf");

}


.container {
    display: grid;
    max-width: 90%;
    margin: 0 auto;
}

.row {
    align-items: center;
    justify-content: center;
}

nav {
    display: none;
    margin: 0 auto;
    max-width: 60%;
}

nav ul {
    list-style: none;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

nav ul a {
    text-decoration: none;
    color: white;
}

hr {
    margin-bottom: 2rem;
}

.header {
    background: url('/img/header.jpg') top center / cover;
    padding: 20em 0;
}

.header-content {
    width: 80%;
    margin: 0 auto;
    padding: 3em 5em;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px
}

h1 {
    text-align: center;
    font-family: assassin, sans-serif;
    font-weight: 300;
    font-size: 4.5em;
    text-transform: uppercase;
}

.header-content p {
    text-align: center;
    letter-spacing: 2pt;
    font-style: italic;
    font-size: 2em;
}

.socials {
    margin: 0 auto;
    width: 30%;
    text-align: center
}

.socials-list button {
    border: solid black 1px;
    border-radius: 10px;
    background: black;
    padding: 10px 20px;
    color: white;
    font-family: assassin, sans-serif;
    text-decoration: none;
    font-size: 3em;
}

.socials-list a {
    color: white;
    text-decoration: none;
}

.socials-list button:hover {
    border: solid black 1px;
    background: rgba(255, 255, 255, 0.2);

}

/* Tablets */
@media (max-width: 1250px) {
    .header-content {
        width: 80%;
        padding: 2em 3em;
    }

    h1 {
        font-size: 3em;
    }

    .header-content p {
        letter-spacing: 1pt;
        font-size: 1em;
    }

    .socials {
        width: 50%;
    }

    .socials-list button {
        padding: 10px 10px;
        font-size: 2em;
    }
}

/* Mobile Phones */
@media (max-width: 450px) {
    .header {
        padding: 20em 0;
    }

    .header-content {
        width: 90%;
        padding: 0.5em 0.75em;
    }

    h1 {
        font-size: 2em;
    }

    .socials {
        width: 90%;
    }
}